### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
print(my_tuple[0])
print(my_tuple[int(len(my_tuple)/2)])
print(my_tuple[-1])

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [22]:
print(my_tuple[0:3])
print(my_tuple[-3:])
print(my_tuple[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [27]:
my_matrix = ((1,2,3),(4,5,6),(7,8,9))
print(my_matrix)
print(my_matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [28]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
my_tuple2 = (11,12,13,14,15,16,17,18,19,20)
print(my_tuple + my_tuple2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple

In [31]:
my_tuple = (1,2,3,4,5,6,7,8,9,10,10,10,3)
dupl_tuple = (4,5,6,7)
my_tuple.index(10)
my_tuple.count(10)

3


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [32]:
my_tuple = (1,2,3,4,5)
a,b,c,d,e = my_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [33]:
my_list = [1,2,3,4,5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [34]:
my_tuple = ((1,2,3),(4,5,6),(7,8,9))
my_tuple = tuple([list(row) for row in my_tuple])
print(my_tuple)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [42]:
numbers = (1,2,3,4,5)
my_list = list(positive)
my_list.append(6)
final_tuple = tuple(my_list)
print(final_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [43]:
word_tuple = ('I','am','a','tuple')
word = ' '.join(word_tuple)
print(word)

I am a tuple



### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [44]:
dictionary = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}
print(dictionary[(1,2)])

10


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [45]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
for row in nested_tuple:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [48]:
tuple_with_duplicates = (1,2,3,4,5,6,7,8,9,10,10,10,3)
unique_items = set(tuple_with_duplicates)
print(unique_items)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [49]:
def tuple_min_max(t):
    return (min(t), max(t), sum(t))

my_tuple = (1,2,3,4,5)
print(tuple_min_max(my_tuple))

(1, 5, 15)